nav {
  height: 50px;
  
}
.block_element {
  background-color:#D4DACE;
  font-family: 'Open Sans', sans-serif;
}

h1 { 
  margin: 0px 5%;
  font-family: 'Cormorant Garamond', serif;
}

p {   
  margin: 0px 5%;
  font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    padding: 4px;
    margin-top: 15px;
    border: 1px solid #333;
    font-family: 'Open Sans', sans-serif;
}
.highlight {
    background-color:lightgreen;
    ;
}
#container {
    background-color: DDDDDD;
    height: 250px;
}
.left {
    float: left;
    padding-left: 15px;
}
.separator {
    width: auto;
}


nav {
  height: 50px;
  background-color: lightgrey;
}
.inline-block {
  padding: 15px;
  display: inline-block;
}
.left {
  float: left;
  height: 500px;
  background-color: lightblue;
  width: 30%;
  text-align: center;
}
.right {
  float: left;
  background-color: lightgreen;
  height: 500px;
  width: 70%;
  text-align: center;
}

.card {
  display: inline-block;
  background-color: #C6C6C6;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin: 35px;
  margin-top: 50px;
}
